{% extends "base.html" %}

{% block content %}
    {#    <div class = "jumbotron">#}
    {#        <h1>Welcome</h1>#}
    {#    </div>#}
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Every pet has right to have owner !</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Somewhere</cite>
        </figcaption>
        <BR>
        <div class="display-1">
            <p>Welcome</p>
        </div>


    </figure>

{% endblock %}
